body{
font-family: Arial, Helvetica, sans-serif;
margin:0;
background:white;
color:#2E2E2E;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
border-bottom:1px solid #E5E7EB;
}

.logo-small img{
height:40px;
}

.nav-links{
list-style:none;
display:flex;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:#2E2E2E;
font-weight:500;
}

.nav-links a:hover{
color:#9FB2A4;
}

.active{
color:#9FB2A4;
}

/* HERO */

.hero{
padding:80px 60px;
}

.hero-container{
display:flex;
align-items:center;
gap:80px;
}

.hero-logo img{
width:300px;
}

.hero-text h1{
font-size:40px;
color:#9FB2A4;
margin-bottom:10px;
}

.student{
font-weight:bold;
color:#A9B7C6;
}

/* SECTIONS */

section{
padding:60px;
}

h2{
color:#9FB2A4;
margin-bottom:20px;
}

/* SIP HERO */

.sip-hero{
background:#1a1a1a;
color:white;
text-align:center;
padding:100px 40px;
}

.sip-hero h1{
font-size:60px;
color:#9FB2A4;
margin-bottom:10px;
}

.sip-subtitle{
font-size:20px;
color:#A9B7C6;
}

.sip-student{
margin-top:10px;
font-size:16px;
}


/* DESCRIPTION */

.sip-description{
max-width:800px;
margin:auto;
padding:80px 20px;
line-height:1.7;
}

.sip-description h2{
text-align:center;
margin-bottom:30px;
}


/* PROOF OF CONCEPT */

.sip-proof{
padding:80px 20px;
background:#F9FAFB;
text-align:center;
}

.proof-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:30px;
max-width:900px;
margin:auto;
margin-top:30px;
}

.proof-grid img{
width:100%;
border-radius:10px;
box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}


/* EXPERIENCE BUTTON */

.sip-play{
text-align:center;
padding:80px 20px;
}

.experience-btn{
display:inline-block;
background:#9FB2A4;
color:white;
padding:16px 32px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
font-size:18px;
}

.experience-btn:hover{
background:#8CA596;
}

.feature-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.feature-card{
border:1px solid #E5E7EB;
padding:25px;
border-radius:10px;
background:#F9FAFB;
}

/* LIST */

.goals ul{
line-height:2;
}

.contact-form{
max-width:500px;
display:flex;
flex-direction:column;
gap:12px;
}

.contact-form input,
.contact-form select,
.contact-form textarea{
padding:10px;
border:1px solid #E5E7EB;
border-radius:6px;
}

.submit-btn{
background:#9FB2A4;
color:white;
border:none;
padding:12px;
border-radius:6px;
cursor:pointer;
}

.submit-btn:hover{
background:#8CA596;
}

/* FOOTER */

footer{
text-align:center;
padding:40px;
border-top:1px solid #E5E7EB;
margin-top:60px;
}
